<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
		form>img
		{
			border: 3px solid red;
			min-width: 100px;
			min-height: 100px;
			display: block;
		}
	</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Eater|Finger+Paint|Fredericka+the+Great|Julee|Kirang+Haerang|Rock+Salt" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Public/Styles/style.css">
  
  <title>Ahh, BART!</title>
</head>

<body>
  <header>
    <div> <img src="../images/AHHBARTbannerFulll.png" /> </div>
  </header>
  <main>
    <div class="container">
    <div class="item1">Share your BART story!</div>
    <div class="item2" id="map">map</div>
    <div class="item3">
      <article>
          <image src="#" />
          <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p class="date"></p>
          <p class="location"></p>
        </article>
      </div>
    
    </div>
      </main>
  
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="../Public/Scripts/app.js"></script>
  <script src="../Public/Scripts/map.js"></script>
  <script src="../Public/Scripts/posts.js"></script>
</body>

</html>
