<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Eater|Finger+Paint|Fredericka+the+Great|Julee|Kirang+Haerang|Rock+Salt" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Public/Styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <title>Ahh, BART!</title>
</head>

<body>
  <header>
   <nav>search</nav>
  </header>
  <main>
    <div class="container">
    <div class="item2" id="map">map</div>
    <div class="item3"></div>


    <div id="form-container">
    <button type="button" id="formButton">Share your BART story</button>
        <form class="hidden" id="postForm" method="post" enctype="multipart/form-data" >
              <input id="photo" type="file" name="photo" />
            <textarea type="text" name="comment" maxlength="140" rows="4" cols="50"></textarea>
            <select name="location" id="locations">
            </select>
            <input type="submit" value="Send" />
            <input class="hidden" type="date" name="date" id="dateSelector"/>
            <input class="hidden imgSelector" name="img">
            <input class="reset" type="button" value="Reset" />
        	</form>
    </div>
    </div>
  </main>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&libraries=visualization"></script>
  <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src = "../Public/Scripts/app.js" ></script>
  <script src = "../Public/Scripts/map.js"></script>
  <script src = "../Public/Scripts/posts.js"></script>
</body>

</html>
