<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
		form>img
		{
			border: 3px solid red;
			min-width: 100px;
			min-height: 100px;
			display: block;
		}
	</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Eater|Finger+Paint|Fredericka+the+Great|Julee|Kirang+Haerang|Rock+Salt" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Public/Styles/style.css">
  <title>Ahh, BART!</title>
</head>

<body>
  <header>
    <div> <img src="../images/AHHBARTbannerFulll.png" /> </div>
  </header>
  <main>
    <div class="container">
    <div class="item2">map</div>
    <div class="item3">Date<div>
        <image src="#" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <image src="#" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <image src="#" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div></div>

    <div id="form-container">
    <button type="button" id="formButton">Share your BART story</button>
        <!-- <form id="form1" style="display:none" title=""></form>
          <b>Today's Date:</b>
          <p>upload image</p>
          <p>your anecdote:</b><input type="text" name="anecdote">
          <button type="button" id="submit">Submit</button>
        </form> -->
        <form method="post" enctype="multipart/form-data" >
            <!-- <input type='text' type="text" accept="text" /> -->
          <!-- <p>your anecdote:</b><input type="text" name="anecdote"> -->
        		<input name='file' type="file" accept="image/*" /> <!-- cute but only works in some browsers-->
        		<img>
        		<input type="submit" value="Send"/><input class="reset" type="button" value="Reset" />
        	</form>


  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="../Public/Scripts/app.js"></script>
</body>

</html>

<!-- <button class="link">Share your BART story!</button> -->

<div class="item1"></div>
